parameters:
    bootstrapFiles:
        - tests/bootstrap.php
    excludePaths:
        - vendor/wirdesign-communication-ag/wirhub/assets
        - vendor/wirdesign-communication-ag/wirhub/build
        - vendor/wirdesign-communication-ag/wirhub/Domain/Config/Vendor
        - vendor/wirdesign-communication-ag/wirhub/Resources
        - vendor/wirdesign-communication-ag/wirhub/tools
        - vendor/wirdesign-communication-ag/wirhub/templates
        - vendor/wirdesign-communication-ag/wirhub/translations
        - vendor/wirdesign-communication-ag/wirhub/Twig
        - vendor/wirdesign-communication-ag/wirhub/vendor (?)
        - vendor/wirdesign-communication-ag/wirhub/rector.php
    ignoreErrors:
        - message: "#^Property AppBundle\\\\Entity\\\\.*\\:\\:\\$id \\(int\\|null\\) is never assigned int so it can be removed from the property type\\.$#"
    level: 5
    paths:
        - src/
        - vendor/wirdesign-communication-ag/wirhub/
    treatPhpDocTypesAsCertain: false