parameters:
    bootstrapFiles:
        - tests/bootstrap.php
    excludePaths:
        - vendor/wirdesign-communication-ag/wirhub/asset
        - vendor/wirdesign-communication-ag/wirhub/build
        - vendor/wirdesign-communication-ag/wirhub/Domain/Config/Vendor
        - vendor/wirdesign-communication-ag/wirhub/Resources
        - vendor/wirdesign-communication-ag/wirhub/tools
        - vendor/wirdesign-communication-ag/wirhub/vendor
        - vendor/wirdesign-communication-ag/wirhub/rector.php
    level: 5
    paths:
        - src/
        - vendor/wirdesign-communication-ag/wirhub/