<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php"
         stopOnFailure="true" stopOnError="true">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="SYMFONY_PHPUNIT_VERSION" value="11.5"/>
        <env name="APP_1076" value="deprecated"/>
    </php>
    <extensions>
        <bootstrap class="Symfony\Component\Panther\ServerExtension"/>
        <bootstrap class="DG\BypassFinals\PHPUnitExtension"/>
    </extensions>
    <testsuites>
        <testsuite name="Application Tests">
            <directory>vendor/wirdesign-communication-ag/wirhub/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
