name: 'CI'
on:
    pull_request:
        branches: [ 'main', 'wip/*', 'v3.0.*', 'v3.1',  'v3.1.*' ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4

            -   name: Add GitHub OAuth credentials
                run: echo '${{ secrets.COMPOSER_AUTH_JSON }}' > $GITHUB_WORKSPACE/auth.json

            -   name: Install Webserver
                run: |
                    sudo LC_ALL=C.UTF-8 add-apt-repository ppa:ondrej/php
                    sudo apt update --allow-releaseinfo-change
                    sudo apt install -y apache2 libapache2-mod-php8.4 \
                      php8.2 \
                      php8.2-common \
                      php8.2-zip \
                      php8.2-imagick \
                      php8.2-gd \
                      php8.2-imap \
                      php8.2-intl \
                      php8.2-bcmath \
                      php8.2-curl \
                      php8.2-mbstring \
                      php8.2-mysql \
                      php8.2-cli \
                      php8.2-cgi \
                      php8.2-xml \
                      php8.2-xml \
                      php8.2-gd \
                      php8.2-sqlite3 \
                      php8.2-imagick

            -   name: Install extensions
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.4'
                    extensions: imagick, sqlite3
                    ini-values: error_log=/home/runner/.symfony5/log/php.log

            -   name: Install chrome
                uses: browser-actions/setup-chrome@v2
                with:
                    chrome-version: stable
                    install-chromedriver: true

            -   name: Update chrome binary to custom setup
                run: |
                    sudo ln -sf /opt/hostedtoolcache/setup-chrome/chrome/stable/x64/chrome /usr/bin/google-chrome
                    sudo ln -sf /opt/hostedtoolcache/setup-chrome/chrome/stable/x64/chrome /opt/google/chrome/chrome

            -   name: Verify some versions
                run: |
                    echo "-- Google Chrome --"
                    google-chrome --version
                    echo "-- Chromedriver --"
                    chromedriver --version
                    echo "-- Composer --"
                    composer --version
                    echo "-- PHP --"
                    php --version

            -   name: Move project to web
                run: |
                    sudo mkdir /var/www/wirhub
                    sudo mv /home/runner/work/wirhub-app/wirhub-app/* /var/www/wirhub
                    sudo mv /home/runner/work/wirhub-app/wirhub-app/.env* /var/www/wirhub
                    sudo mv /home/runner/work/wirhub-app/wirhub-app/.php-* /var/www/wirhub
                    sudo chown -R www-data:www-data /var/www

            -   name: Composer install
                run: sudo -u www-data composer install --prefer-dist --no-progress --no-scripts --working-dir /var/www/wirhub

            -   name: Verify platform requirements
                run: |
                    /usr/bin/php8.2 /usr/local/bin/composer check-platform-reqs  --working-dir /var/www/wirhub
                    /usr/bin/php8.4 /usr/local/bin/composer check-platform-reqs  --working-dir /var/www/wirhub

            -   name: PHP CS Fixer
                run: /var/www/wirhub/vendor/bin/php-cs-fixer check --stop-on-violation --config=/var/www/wirhub/.php-cs-fixer.dist.php

            -   name: Prepare symfony
                run: |
                    sudo -u www-data composer dump-env test --working-dir /var/www/wirhub
                    sudo -u www-data APP_ENV=test php /var/www/wirhub/bin/console cache:clear
                    sudo -u www-data APP_ENV=test php /var/www/wirhub/bin/console assets:install public/
                    sudo -u www-data APP_ENV=test php /var/www/wirhub/bin/console doctrine:schema:update --force
                    sudo -u www-data mkdir /var/www/wirhub/var/cache/test/sessions

            -   name: Finish webserver
                run: |
                    sudo a2enmod rewrite
                    sudo mkdir /var/www/wirhub/var/apache2/
                    sudo rm /etc/apache2/sites-available/000-default.conf
                    sudo cp /var/www/wirhub/vendor/wirdesign-communication-ag/wirhub/Tests/Config/vhost_github.conf /etc/apache2/sites-available/000-default.conf
                    sudo apachectl configtest
                    sudo systemctl restart apache2

            -   name: Update folder permissions
                run: |
                    sudo chmod -R 777 /var/www/wirhub

            -   name: Test - Lint
                run: |
                    cd /var/www/wirhub
                    APP_ENV=test php bin/console lint:twig templates/ vendor/wirdesign-communication-ag/wirhub/
                    APP_ENV=test php bin/console lint:yaml config/ vendor/wirdesign-communication-ag/wirhub/Resources/config/
                    APP_ENV=test php bin/console lint:container

            -   name: Test - PHPStan
                run: |
                    cd /var/www/wirhub
                    vendor/bin/phpstan analyse -c phpstan.neon

            -   name: Test - App
                run: |
                    cd /var/www/wirhub
                    APP_ENV=test php bin/console app:test

            -   name: Test - WebTestCase and KernelTestCase
                run: |
                    cd /var/www/wirhub
                    /usr/bin/php8.4 bin/phpunit -c phpunit.xml.dist vendor/wirdesign-communication-ag/wirhub/Tests/Cases/WebAndKernel/

            -   name: Test - WebTestCase and KernelTestCase (Deprecated PHP 8.2)
                run: |
                    cd /var/www/wirhub
                    /usr/bin/php8.2 bin/phpunit -c phpunit.xml.dist vendor/wirdesign-communication-ag/wirhub/Tests/Cases/WebAndKernel/

            -   name: Test - PantherTestCase
                run: |
                    cd /var/www/wirhub
                    /usr/bin/php8.2 bin/phpunit -c phpunit.xml.dist vendor/wirdesign-communication-ag/wirhub/Tests/Cases/Panther/

            -   name: Archive debugging files
                uses: actions/upload-artifact@v4
                if: failure()
                with:
                    name: debug
                    if-no-files-found: ignore
                    path: |
                        /var/www/wirhub/.env.local.php
                        /var/www/wirhub/vendor/wirdesign-communication-ag/wirhub/build/debug/*
                        /var/www/wirhub/var/cache/test/*.log
                        /var/www/wirhub/var/cache/wdc-styleguide.db
                        /var/www/wirhub/var/log/*.log
                        /var/www/wirhub/var/error-screenshots/*
                        /tmp/chromedriver.log
